
<!-- Ken wang, Dec, 2020 -->

{% extends 'ctb_base.html' %}

{% block content %}

<!--<div class="card container"> -->
    <table width="90%" align="center">
        <tr>
            <td>
                <ul class="nav nav-tabs">
                    <li class="active" style="font-size: large"><a href="{{ url_for('ctb_run')}}"><strong>CTB</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('ctb_result')}}"><strong>Result</strong></a></li>
                </ul>
            </td>
        </tr>
    </table>
    <!-- </div> -->


    <form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
        <br>
        <table style="border-collapse:collapse; background-color: #eeeeee" border="0" cellspacing="0px" width="90%" align="center">
    		<tr align="center">
                <td width="5%"></td>
                <td width='30%' align="left">
                        <b>3A4 backlog (downloaded from UOV via kw_ctb):</b>
                            {{ form.file_3a4 }}
                            <br><br>

                        <b>Material supply (downloaded from Kinaxis):</b>
                            {{ form.file_kinaxis_supply }}
                            <br><br>

                        <b> (Optional) PCBA supply (downloaded from PCBA allocation tool)</b>
                            {{ form.file_allocation_supply }}

                </td>
                <td width="10%">
                </td>

                <td width="50%" align="left">
                    <br>
                    <div class="form-group">
                        <b>{{ form.org.label }}</b><br>{{ form.org (class='form-control') }}<br>
                        <b>{{ form.bu.label }}</b><br>{{ form.bu (class='form-control')}}<br>
                        <b>{{ form.class_code_exclusion.label }}</b><br>{{ form.class_code_exclusion (class='form-control')}}<br>
                        <b>{{ form.description.label }}</b><br>{{ form.description  (class='form-control')}}<br>
                    </div>
                </td>
                <td width="5%"></td>
            </tr>
        </table>
        <table style="border-collapse:collapse; " border="0" cellspacing="0px" width="90%" align="center">
            <tr>
                <td align="center" width="100%">
                    <br>
                    {{ form.submit_ctb(class='btn btn-default btn-lg')  }}
                    <br><br>
            	</td>
        	</tr>
	</table>
    </form>


{% endblock %}
