
<!-- Ken wang, May, 2021 -->

{% extends 'ctb_base.html' %}

{% block content %}
    <!--<div class="card container"> -->

    <!-- </div> -->
    <table width="85%" align="center">
        <tr>
            <td>
                <h2>General introductions</h2>
                    <h3>About the input data to run the tool?</h3>
                        <ol type="1">

                        </ol>

                    <h3>What is the order ranking priority we use?</h3>
                    ...

                    <h3>What is Exceptional priority?</h3>
                    PSP can give an exceptional priority to a non-priority SS so they can also get an absolute high priority despite OSSD and reflect in allocation - this should be used only exceptionally.

                    Default priority ranking#: PR1:1; PR2:2; PR3:3; L4:4; BUP:5. PSP can set exceptional priority via the link you can find in the footer.
                    E.g., if one SS is added with Ranking# 4.1, this SS will be ranked after L4; or if added with Ranking# greater than 5, they will be after BUP; etc.

                    <h3>Other exceptions considered</h3>
                    ...

                <h2>Additional columns created in 3a4 and interpretations</h2>
                    <h3>distinct_po_filter</h3>
                    Duplicated rows are introduced when we explode the BOM. Filter "YES" to show just one line for one PO. This is useful especially when you simply want to sum up the "C_UNSTAGED_DOLLARS" and this will avoid duplication.

                    <h3>BOM_PN</h3>
                    This is generated based on "FLB_TAN".

                    <h3>EXCEPTION_NAME</h3>
                    Maintained by user for related PO to indicate if one PO has any exceptions issues like GIMS, Config issue, etc., which prevents build.

                    <h3>priority_cat</h3>
                    The priorities categories - PR1, PR2, PR3, L4, BUP - are collected and indicated here in this column. DPAS_RATING is also referenced to ensure order correctly categorized as PR1.

                    <h3>priority_rank</h3>
                    This column has an integer or float number to indicate the priority ranking# for above priority categories; if there is exceptional priority input, that new exceptional ranking# is shown here instead.

                    <h3>ss_overall_rank</h3>
                    This is the final ranking for each SS based on the ranking logic we used.

                    <h3>min_date</h3>
                    This is a min date of ORIGINAL_FCD_NBD_DATE and LT_TARGET_FCD; for Non_REVENUE orders it's same as CURRENT_FCD_NBD_DATE. If the dates are blank, then consider it as 30days from now.

                    <h3>earliest_packable_date</h3>
                    Default based on addressable backlog definition; for MFG_HOLD or Unscheduled PO, this date must not be within 30days from today; if there are other EXCEPTIONS (Indicated in Col EXCEPTION_NAME), then this date must not be within 14days from today.

                    <h3>po_ctb</h3>
                    This is generated based on "po_supply_ready_date", "earliest_packable_date" and FLT value.

                    <h3>ss_ctb</h3>
                    This is based on the latest po_ctb date within one SS.

                    <h3>ss_updated_status</h3>
                    This indicates "ss_ctb" vs "CURRENT_FCD_NBD_DATE".

                    <h3>RISO (as is)/RISO (to be)</h3>
                    These 2 col indicate based on LT target what's the current status based on FCD, and what's the new status based on "ss_ctb".


               <br><br>
                
            </td>
        </tr>
    </table>
<br><br>
{% endblock %}
