
<!-- Ken wang, Dec, 2020 -->

{% extends 'ctb_base.html' %}

{% block content %}


        <p style="color: #c82333; font-size:x-large " align="center">This tool will EOL soon, pls use this
            <a href="http://10.123.219.148/ctb">NEW TOOL</a> instead.
        </p>

<!--<div class="card container"> -->
    <table width="90%" align="center">
        <tr>
            <td>
                <ul class="nav nav-tabs">
                    <li class="active" style="font-size: large"><a href="{{ url_for('ctb_run')}}"><strong>CTB</strong></a></li>
                    <li style="font-size: large"><a href="{{ url_for('ctb_result')}}"><strong>Result</strong></a></li>
                </ul>
            </td>
        </tr>
    </table>
    <!-- </div> -->


    <form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
        <br>
        <table style="border-collapse:collapse; background-color: #eeeeee" border="0" cellspacing="0px" width="90%" align="center">
    		<tr align="center">
                <td width="5%"></td>
                <td width='30%' align="left">
                        <b>3A4 backlog:
                            <abbr title="Download from UOV using view kw_ctb. Select the required org when downloading.">(data source):</abbr>
                        </b>
                            {{ form.file_3a4 }}
                            <br><br>

                        <b>Kinaxis supply
                            <abbr title="This is default supply downloaded from Kinaxis, which is for DF components supply, or both DF + PCBA supply.">(base supply):</abbr>
                        </b>
                            {{ form.file_kinaxis_supply }}
                            <br><br>

                        <b>PCBA allocation supply
                            <abbr title="This is PCBA TAN supply created by the PCBA allocation tool; when uploaded, this will preferentially replace the supply in the Kinaxis supply file if same TAN exists. Date converted to ETA.">(preferential supply):
                            </abbr>
                        </b>
                            {{ form.file_allocation_supply }}

                </td>
                <td width="10%">
                </td>

                <td width="50%" align="left">
                    <br>
                    <div class="form-group">
                        <b>{{ form.org.label }}</b><br>{{ form.org (class='form-control') }}<br>
                        <b>{{ form.bu.label }}</b><br>{{ form.bu (class='form-control')}}<br>
                        <b>{{ form.class_code_exclusion.label }}</b><br>{{ form.class_code_exclusion (class='form-control')}}<br>
                        <b>{{ form.description.label }}</b><br>{{ form.description  (class='form-control')}}<br>
                    </div>
                </td>
                <td width="5%"></td>
            </tr>
        </table>


        <table style="border-collapse:collapse; " border="0" cellspacing="0px" width="90%" align="center">
            <tr>
                <td align="center" width="100%">
                    <br>
                    {{ form.submit_ctb(class='btn btn-default btn-lg')  }}
                    <br><br>
            	</td>
        	</tr>
	</table>
    </form>


{% endblock %}
